/** @format */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

.header {
  border-bottom: 2px solid #32b9cd;
  color: #32b9cd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header .container ul {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  color: orange;
}

.header ul li {
  list-style: none;
}

.header ul a {
  color: inherit;
  text-decoration: none;
}

.agora {
  font-weight: 600;
}

.banner {
  background-image: url("bg-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.banner p {
  font-size: 36px;
  width: 280px;
}

.banner span {
  font-weight: 800;
}

/* LOGIN */
.banner .container .card {
  background-color: beige;
  color: #000;
  width: 400px;
  /* height: 450px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 30px;
}

.card input {
  padding: 10px;
}

.btn {
  border: 0;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  background-color: #e75459;
  padding: 10px 15px;
  cursor: pointer;
  margin: 30px auto;
}
